{% extends 'base.html' %}

{% block title %}Symptoms - Diyet Uygulaması{% endblock %}

{% block content %}
<section>
    <h2>Symptom Selection</h2>
    <div class="symptom-buttons">
        <button class="symptom-button" data-symptom="Şişkinlik">Şişkinlik</button>
        <button class="symptom-button" data-symptom="Baş Ağrısı">Baş Ağrısı</button>
        <!-- Diğer semptom butonları buraya eklenir -->
    </div>
</section>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
