/* Genel Stiller */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Header Arka Plan */
.header-background {
    background: url('https://media.istockphoto.com/id/1457433817/photo/group-of-healthy-food-for-flexitarian-diet.jpg?s=612x612&w=0&k=20&c=v48RE0ZNWpMZOlSp13KdF1yFDmidorO2pZTu2Idmd3M=') center/cover no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.welcome-text h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.welcome-text p {
    font-size: 18px;
    color: #555;
}

/* Feature Container */
.feature-containers {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.feature-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.feature-container h3 {
    margin-bottom: 10px;
    color: #4CAF50;
}

/* Weight Tracker */
.weight-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.circle-button:hover {
    background-color: #45a049;
}

.weight-display {
    background-color: #E5E5E5;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weight-display p {
    font-size: 32px;
    margin: 0;
}

.unit-toggle {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

.unit-toggle span {
    cursor: pointer;
}

.unit-toggle .active {
    color: #4CAF50;
    font-weight: bold;
}
